*{
    margin: 0px;
    padding: 0px;
}
body{
   background-color: black;
   color: white;
}
.out{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid white;
    background-color: black;
    color: white;
}